<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span [hidden]="selectedItem"> <ion-title><img src="assets/icon/logo.png" style="width:42%;margin-top:6px;"></ion-title>  </span>
      <span [hidden]="!selectedItem">{{selectedItem}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!selectedItem" class="card-background-page">
    <ion-grid>
      <ion-row *ngFor="let col of categoryBox">
        <ion-col col-6 *ngFor="let cat of col">
          <ion-card tappable (click)="itemTapped(cat.title)">
            <img src="./assets/categories/{{cat.title}}.jpg">
            <div class="card-title">{{cat.title}}</div>
            <div class="card-subtitle">{{cat.count}} videos</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="selectedItem">
    <ion-list>
      <ion-item (click)="videoTapped(video)" tappable *ngFor="let video of categoryList[selectedItem]">
        <ion-thumbnail item-left>
          <img [src]="video.thumb">
        </ion-thumbnail>
        <h2>{{video.title}}</h2>
        <p>{{video.desc}}</p>
      </ion-item>

    </ion-list>
    <div class="noData" *ngIf="categoryList[selectedItem].length === 0">
      No Videos Found
    </div>
  </div>
</ion-content>