<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span [hidden]="selectedItem"> Categories    </span>
      <span [hidden]="!selectedItem">{{selectedItem}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!selectedItem">
    <ion-item tappable (click)="itemTapped(cat)" *ngFor="let cat of categories">
      <ion-thumbnail item-left>
        <img src="./assets/categories/{{cat}}.jpg">
      </ion-thumbnail>
      <h2>{{cat}}</h2>
      <p>{{categoryList[cat].length}} videos</p>
    </ion-item>
  </ion-list>
  <div *ngIf="selectedItem">
    <ion-list>
      <ion-item tappable *ngFor="let video of categoryList[selectedItem]">
        <ion-thumbnail item-left>
          <img [src]="video.thumb">
        </ion-thumbnail>
        <h2>{{video.title}}</h2>
        <p>{{video.desc}}</p>
      </ion-item>
     
    </ion-list>
     <div class="noData" *ngIf="categoryList[selectedItem].length === 0">
        No Videos Found
      </div>
  </div>
</ion-content>